### Ejercicio 4 - Clase Iterable

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Tarea.csv')

In [3]:
df.head(3)

   N_Cuenta                 Nombre  Saldo_Actual Ult_Transac
0     97410    Piedad Sotelo Arcos             0  11/14/2018
1     19059    Anselmo Vara Bernal       1629570   8/25/2018
2     29821  Inés Carlos-Rodriguez        216757   3/25/2019

In [4]:
marcapaginas = df.iterrows()
print(next(marcapaginas))
print(next(marcapaginas))

(0, N_Cuenta                      97410
Nombre          Piedad Sotelo Arcos
Saldo_Actual                      0
Ult_Transac              11/14/2018
Name: 0, dtype: object)
(1, N_Cuenta                      19059
Nombre          Anselmo Vara Bernal
Saldo_Actual                1629570
Ult_Transac               8/25/2018
Name: 1, dtype: object)

In [5]:
from datetime import datetime
import csv

class CuentaBancaria:

    
    def __init__(self,  N_cuenta,Nombre, Saldo_Actual,Ult_Transac):
        self.Nombre = Nombre
        self.N_cuenta = N_cuenta
        self.Ult_Transac=Ult_Transac
        self.Saldo_Actual = Saldo_Actual
         
    @classmethod
    def from_csv(cls, filepath):
        with open(filepath, "r") as f:
            df = pd.read_csv(f)
            dfi=df.iterrows()
            fila=next(dfi)[1]
            N_Cuenta,Nombre,Saldo_Actual,Ult_Transac = fila
            return cls(N_Cuenta,Nombre,Saldo_Actual,Ult_Transac)

In [6]:
cuenta=CuentaBancaria.from_csv('Tarea.csv')

In [7]:
print(cuenta.N_cuenta, cuenta.Nombre,cuenta.Saldo_Actual, cuenta.Ult_Transac)

97410 Piedad Sotelo Arcos 0 11/14/2018